input, select, textarea {
  border-radius: none;
  border: none;
  padding: 0.5rem;
  color: $black;
  background-color: $white;
  // -moz-appearance: none;
  // appearance: none;

  &:disabled {
    background-color: lighten($black, 50%);
  }
}

.select {
  width: 32%;
  min-height: 2.75rem;
  border-top: solid 10px $black;
  margin: 0 0 1.75% 2%;
  @include button-shadow;

  &:first-child {
    margin: 0 0 2% 0;
    border-left: solid 10px $black;
  }

  &:nth-child(3) {
    //border-right: solid 10px $black;
  }
}

.text-area {
  width: 100%;
  margin: 0 0 2% 0;
  border-left: solid 10px $black;
  @include button-shadow;
}

.action-button {
  width: 50%;
  font-family: $font-fam-2;
  margin: 0;
  @include button-shadow;
}
