.results {
  max-width: 1200px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.added-font {
  position: relative;
  padding: 1.5rem 6rem 1.5rem 1.5rem;
  background: $blue;
  color: $white;
  min-height: 6rem;

  // TODO: Will need a fallback from this
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: opacity 0.2s; 

  animation: fadeIn 0.2s 
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.remove-font {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  margin-top: -1.5rem;
  width: 3rem;
  height: 3rem;
  font-family: $font-fam-2;
  @include button-shadow;
}
