// Colors
$color-1: #FCF7D3;
$color-2: #E6E0DC;
$color-3: #1F1F1E;
$color-4: #FF2A1D;
$color-5: #7F150E;
$color-6: #4E0BD8;


// Colors in simple names
$white:    $color-1;
$gray:     $color-2;
$black:    $color-3;
$red:      $color-4;
$mud-red:  $color-5;
$blue:     $color-6;


// Font Families
$font-fam-1: Vollkorn;
$font-fam-2: lato;

// Font Sizes, in a modular scale
$font-1: 5.063rem;
$font-2: 3.375rem;
$font-3: 2.25rem;
$font-4: 1.5rem;
$font-5: 1rem;
$font-6: 0.667rem;

// Font sizes in simple names
$base-font-size: $font-4;

// Line height
$base-line-height: 1.5;
