---
title: Font Pairs
---

<!DOCTYPE html>
<head>
  <script>
    // $.getJSON( "https://www.googleapis.com/webfonts/v1/webfonts?key=AIzaSyCQqdSotGRoFU331DHXZkt33jFFcB0XrdY", function( data ) {
    //   var items = [];
    //   var categories = [];
    //   var families = [];
    //   var fontList = [];
    //
    //   $.each( data.items, function( key, val ) {
    //     if (val != $.inArray(categories)) {
    //       families.push(val.family);
    //     }
    //   });
    //
    //   $.each( families, function( key, val ) {
    //     items.push( "<option>" + val + "</option>" );
    //   });
    //
    //   $.each( data.items, function( key, val ) {
    //     items.push( "<option id='" + val.family + "'" + "data-font='" + val.family + "'" + ">" + val.family + "</option>" );
    //   //   categories.push( "<option id='" + val.category + "'" + "data-font='" + val.category + "'" + ">" + val.category + "</option>" )
    //   // });
    //
    //   $( "<select>", {
    //     "class": "select-list",
    //     html: items.join( "" )
    //   }).appendTo( "body" );
    // });
  </script>
  <link href='http://fonts.googleapis.com/css?family=<?php echo $barDelimited; ?>' rel='stylesheet' type='text/css'>
</head>
<body>
</body>
</html>
